//Colors variable
$light-blue: #2d8bba;
$dark-blue: #31356e;
$dark-grey: #3b4848;
$light-grey: #ececec;
$white: #fff;
$black: black;

.title{
    font-size: 25px;
    color: $dark-blue;
}

.App{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto;
    width: 100vw;
}