@import '../../App.scss';

.visualisation{
    .graphSection{
        background: $light-grey;
        height: 70vh;
    }
    .graph{
        height: 500px;
    }
    .title span{
        color: $dark-grey;
    }
}