@import "../../App.scss";

.topnav{
    background: linear-gradient($light-blue, $dark-grey);
    padding-left: 20px;
    box-sizing: border-box;

    a{  
        text-decoration: none;
    }

    .logo{
        color: $white;
    }
}