@import "../../App.scss";

.topnav{
    background: linear-gradient($light-blue, $dark-grey);
    padding: 10px 20px;

    a{  
        text-decoration: none;
    }

    .logo{
        color: $white;
    }
}