//Colors variable
$light-blue: #2d8bba; //nav gradient
$dark-blue: #31356e; //title
$dark-grey: #3b4848; //nav gradient
$white: #fff; //text color 

.title{
    font-size: 25px;
    color: $dark-blue;
}