//Colors variable
$light-blue: #2d8bba; //nav gradient
$dark-blue: #31356e; //title
$dark-grey: #3b4848; //nav gradient
$light-grey: #ececec;
$white: #fff; //text color 

.title{
    font-size: 25px;
    color: $dark-blue;
}

//Put everything at the right place on the main page
.App{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto;
    width: 100vw;
}